*Meson
.makeFlags
*.log
*.db
*geth
*keystore
*.storage
site

.DS_Store

# Test binary, built with `go test -c`
*.test
testdata

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# katzenmint
chain
!plugin/pkg/chain
testdb
*.db
*_db
data/

# docker genesis documents
testnet/local/conf/node*/config/genesis.json

plugin/ops/__pycache__
