global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  #- job_name: prometheus
  #  static_configs:
  #    - targets: ['localhost:9090']
  - job_name: meson-server
    static_configs:
{%- for provider in ansible_play_hosts_all %}
      - targets: [{ { provider } }: 6543]
{%- endfor %}